<section class="bg-gray-50">
    <div
      class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0 min-h-screen"
    >
      <div
        class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700"
      >
        <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
          <h1
            class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white"
          >
            Iniciar sesión
          </h1>
          <form
            class="space-y-4 md:space-y-6"
            [formGroup]="myForm"
            (ngSubmit)="consult()"
          >
            <div>
              <label
                for="email"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Username</label
              >
              <input
                type="text"
                name="email"
                id="email"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                formControlName="username"
                (input)="onInput()"
              />
              <div
                class="text-red-500"
                *ngIf="
                  myForm.get('username')?.touched &&
                  myForm.get('username')?.invalid
                "
              >
                <div *ngIf="myForm.get('username')?.hasError('required')">
                  Este campo es requerido
                </div>
              </div>
            </div>
            <div>
              <label
                for="password"
                class="block mb-2 text-sm font-medium text-gray-900 dark:text-white"
                >Contraseña</label
              >
              <input
                type="text"
                name="password"
                id="password"
                class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"
                formControlName="password"
                (input)="onInput()"
              />
              <div
                class="text-red-500"
                *ngIf="
                  myForm.get('password')?.touched &&
                  myForm.get('password')?.invalid
                "
              >
                <div *ngIf="myForm.get('password')?.hasError('required')">
                  Este campo es requerido
                </div>
              </div>
            </div>
            <p class="text-red-500" *ngIf="!flag">Credenciales incorrectas</p>
            <button
              type="submit"
              class="w-full text-white bg-primary-600 hover:bg-primary-700 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center dark:bg-primary-600 dark:hover:bg-primary-700 dark:focus:ring-primary-800"
            >
              Iniciar sesión
            </button>
          </form>
        </div>
      </div>
    </div>
  </section>
  