<nav class="navbar navbar-expand-lg navbar-dark bg-dark p-4 mb-4 bg-slate-300">
  <a class="navbar-brand" href="/list-profiles-user">CONSUL TI Test </a>
  <span class="navbar-toggler-icon"></span>
  <div class="ml-auto">
    <div class="d-flex align-items-center flex justify-between">
      <img
        src="https://www.011global.com/Account/Slices/user-anonymous.png"
        width="40px"
        height="40px"
        alt="User Image"
      />
      <button
        type="button"
        class="btn btn-outline-light bg-red-500 text-white font-bold py-2 px-4 rounded"
        (click)="logout()"
      >
        Cerrar Sesión
      </button>
    </div>
  </div>
</nav>
