<app-header></app-header>
<form class="w-full max-w-lg mx-auto">
  <!-- <div class="form-group">
    <label for="filter"><b>Filtro:</b></label> 
    <select [(ngModel)]="filterData" (change)="viewInputFilter()" name="filter" id="filter">
      <option [value]="'filterbyNameUser'">Filtrar por Usuario</option>
      <option [value]="'filterbyBirthdate'">Filtrar por Fecha de nacimiento</option>
    </select>
  </div> -->
  <div class="flex flex-col mx-auto">
    <label for="filter-nombre"
    class="block mb-2 text-sm font-medium text-gray-900"
    ><b>Nombre:</b></label
    >
    <input
      type="text"
      id="filter-nombre"
      placeholder="Filtrar por el nombre de producto:"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
      [(ngModel)]="filterByNameProduct"
      name="filterByNameProduct"
    />
    <label
    class="block mb-2 text-sm font-medium text-gray-900"
    for="filter-valor"><b>Valor:</b></label
    >
    <input
      type="number"
      id="filter-valor"
      placeholder="Filtrar por el valor de producto:"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
      [(ngModel)]="filterByValorProduct"
      name="filterByValorProduct"
    />
    <label 
    class="block mb-2 text-sm font-medium text-gray-900"
    for="filter-fechaIngreso"><b>Fecha de ingreso:</b></label
    >
    <input
      type="date"
      id="filterByFechaIngresoProduct"
      placeholder="Filtrar por el fecha de ingreso de producto:"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
      [(ngModel)]="filterByFechaIngresoProduct"
      name="filterByFechaIngresoProduct"
    />
    <label 
    class="block mb-2 text-sm font-medium text-gray-900"
    for="filter-fechaVenta"><b>Fecha de venta:</b></label
    >
    <input
      type="date"
      id="filterByFechaVentaProduct"
      placeholder="Filtrar por el fecha de venta de producto:"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
      [(ngModel)]="filterByFechaVentaProduct"
      name="filterByFechaVentaProduct"
    />
    <label
    class="block mb-2 text-sm font-medium text-gray-900"
    for="filter-fechaVenta"><b>Estado</b></label
      >
      <select
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
      [(ngModel)]="filterByStateProduct" name="filterByStateProduct">
        <option [value]="'Activo'">Activo</option>
        <option [value]="'Inactivo'">Inactivo</option>
      </select>
  </div>

  <button
    type="button"
    (click)="applyFilters()"
    class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2"
    style="margin-top: 10px"
  >
    Aplicar Filtros
  </button>
</form>
<br>
<button
  (click)="saveProduct()"
  class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2"
>
  Crear nuevo producto
</button>

<button
  (click)="sendEmail()"
  class="bg-green-500 hover:bg-green-700 text-white font-bold py-2 px-4 rounded mx-2"
>
  Enviar correo
</button>

<h1>Listado de Productos</h1>
<div class="wrapper">
  <div class="grid2">
    <div>Nombre</div>
    <div>Valor</div>
    <div>Fecha de creacion</div>
    <div>Fecha de venta</div>
    <div>Estados</div>
    <div>Acciones</div>
  </div>
  <div *ngFor="let product of products" class="grid2">
    <div>{{ product.nombre }}</div>
    <div>{{ product.valor }}</div>
    <div>{{ product.fechaCreacion | date : "dd-MM-yyyy HH:mm" }}</div>
    <div>{{ product.fechaVenta | date : "dd-MM-yyyy" }}</div>
    <div>{{ product.estado }}</div>
    <div>
      <mat-icon (click)="viewProduct(product)">remove_red_eye</mat-icon>
      <mat-icon (click)="cargarImg(product)">attach_file</mat-icon>
      <mat-icon (click)="deleteProduct(product)">delete</mat-icon>
    </div>
  </div>
</div>
