.wrapper {
    display: grid;
    max-height: 70vh;
    overflow-y: auto;
    margin: 10px;
    border: 1px solid black;
    padding: 10px;
}

.grid2 {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
}