<div class="p-4">
  <h1>Detalles del producto</h1>
  <img
    *ngIf="product.imagen!=='N/A'"
    src="data:image/png;base64,{{ product.imagen }}"
    width="100px"
    alt=""
  />
  <p class="block mb-2 text-sm font-medium text-gray-900">Nombre del producto: {{ product.nombre }}</p>
  <p class="block mb-2 text-sm font-medium text-gray-900" >Marca del Producto: {{ product.marca }}</p>
  <p class="block mb-2 text-sm font-medium text-gray-900">Valor del producto: {{ product.valor }}</p>
  <p class="block mb-2 text-sm font-medium text-gray-900">Descripcion del producto: {{ product.descripcion }}</p>
  <p class="block mb-2 text-sm font-medium text-gray-900">
    Fecha de creación: {{ product.fechaCreacion | date : "dd-MM-yyyy HH:mm" }}
  </p>
  <p class="block mb-2 text-sm font-medium text-gray-900">Fecha de venta: {{ product.fechaVenta | date : "dd-MM-yyyy" }}</p>
  <button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-2" (click)="closeModal()">Cerrar</button>
</div>
