<div class="p-4">
  <h1>Detalles del producto</h1>
  <img
    *ngIf="product.imagen !== 'N/A'"
    src="data:image/png;base64,{{ product.imagen }}"
    width="100px"
    alt=""
  />
  <p class="block mb-2 text-sm font-medium text-gray-900">Nombre del producto: {{ product.nombre }}</p>
  <p class="block mb-2 text-sm font-medium text-gray-900">Marca del Producto: {{ product.marca }}</p>
  <p class="block mb-2 text-sm font-medium text-gray-900">Valor del producto: {{ product.valor }}</p>
  <p class="block mb-2 text-sm font-medium text-gray-900">Descripcion del producto: {{ product.descripcion }}</p>
  <p class="block mb-2 text-sm font-medium text-gray-900">
    Fecha de creación: {{ product.fechaCreacion | date : "dd-MM-yyyy HH:mm" }}
  </p>
  <p class="block mb-2 text-sm font-medium text-gray-900">Fecha de venta: {{ product.fechaVenta | date : "dd-MM-yyyy" }}</p>
  <form
  [formGroup]="myForm"
  (ngSubmit)="submitForm()"
  class="space-y-4 md:space-y-6"
  >
  <div class="custom-form-field">
      <label class="block mb-2 text-sm font-medium text-gray-900" for="imagen"
      ><b>Imagen: </b></label
      >
      <input
      type="file"
      id="imagen"
      placeholder="Altura"
      formControlName="imagen"
      name="imagen"
      (change)="onFileChange($event)"
      accept="image/*"
      class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
      />
    </div>
    <button class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded mx-2" type="submit">Actualizar imagen</button>
</form>
<button class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-2" (click)="closeModal()">Cerrar</button>
</div>
