<div class="h-70v p-4">
    <form
      [formGroup]="myForm"
      (ngSubmit)="submitForm()"
      class="space-y-4 md:space-y-6"
    >
    <h1>Nuevo Producto</h1>
  
      <div class="custom-form-field">
        <label
          class="block mb-2 text-sm font-medium text-gray-900"
          for="nombre"
          ><b>Nombre:</b></label
        >
        <input
          type="text"
          id="nombre"
          placeholder="Nombre"
          formControlName="nombre"
          name="nombre"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        />
      </div>
  
      <div class="custom-form-field">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="descripcion"
          ><b>Descripcion:</b></label
        >
        <input
          type="text"
          id="descripcion"
          placeholder="Descripción"
          formControlName="descripcion"
          name="descripcion"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        />
      </div>
  
      <div class="custom-form-field">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="valor"
          ><b>Valor:</b></label
        >
        <input
          type="number"
          id="valor"
          placeholder="Valor"
          formControlName="valor"
          name="valor"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        />
      </div>
  
      <div class="custom-form-field">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="marca"
          ><b>Marca:</b></label
        >
        <input
          type="text"
          id="marca"
          placeholder="Marca"
          formControlName="marca"
          name="marca"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        />
      </div>
  
      <div class="custom-form-field">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="fechaVenta"
          ><b>Fecha Venta:</b></label
        >
        <input
          type="date"
          id="fechaVenta"
          placeholder="Fecha de venta"
          formControlName="fechaVenta"
          name="fechaVenta"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        />
      </div>
  
      <div class="custom-form-field">
        <label class="block mb-2 text-sm font-medium text-gray-900" for="imagen"
          ><b>Imagen: </b></label
        >
        <input
          type="file"
          id="imagen"
          placeholder="Imagen"
          formControlName="imagen"
          name="imagen"
          (change)="onFileChange($event)"
          accept="image/*"
          class="bg-gray-50 border border-gray-300 text-gray-900 sm:text-sm rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5"
        />
      </div>
      <div class="py-2">
        <button
          type="submit"
          class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
          [disabled]="myForm.invalid"
        >
          Guardar
        </button>
        <button
          type="button"
          (click)="closeModal()"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-2"
        >
          Cancelar
        </button>
        <button
          type="button"
          (click)="limpiarForm()"
          class="bg-red-500 hover:bg-red-700 text-white font-bold py-2 px-4 rounded mx-2"
        >
          Limpiar formulario
        </button>
      </div>
    </form>
  </div>
  